:host {
  --color-pink: #ff6b6b;
  --color-purple: #a36cff;
  --color-blue: #5b83ff;

  /* Gradientes */
  --gradient-primary: linear-gradient(45deg, var(--color-pink), var(--color-blue));
  --gradient-purple: linear-gradient(45deg, var(--color-pink), var(--color-purple));
  --gradient-blue: linear-gradient(45deg, var(--color-purple), var(--color-blue));

  /* Sombras */
  --shadow-soft: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.error-title {
  font-size: 10rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
}

.number {
  position: relative;
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: var(--shadow-medium);
  transition: all 0.3s ease;
}

/* Aplicamos diferentes gradientes a cada número */
.number:nth-child(1) {
  background-image: var(--gradient-purple);
}

.number:nth-child(2) {
  background-image: var(--gradient-primary);
}

.number:nth-child(3) {
  background-image: var(--gradient-blue);
}

/* Animación de rebote al pasar el mouse */
.number:hover {
  animation: bounce 0.6s ease-in-out forwards;
}

.error-subtitle {
  font-size: 2rem;
  margin-top: 1rem;
  background-image: var(--gradient-primary);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: var(--shadow-soft);
}

/* Animación de rebote */
@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* Animación de cambio de colores para los números */
@keyframes colorShift {
  0% {
    background-image: var(--gradient-purple);
  }
  33% {
    background-image: var(--gradient-primary);
  }
  66% {
    background-image: var(--gradient-blue);
  }
  100% {
    background-image: var(--gradient-purple);
  }
}

/* Aplicamos la animación de colores a los números */
.number {
  animation: colorShift 6s infinite alternate;
}

/* Retrasamos la animación para cada número para crear un efecto ondulado */
.number:nth-child(1) {
  animation-delay: 0s;
}

.number:nth-child(2) {
  animation-delay: 2s;
}

.number:nth-child(3) {
  animation-delay: 4s;
}
