<!-- app.component.html -->
<div class="container-fluid p-0 app-container">
  <header>

  <app-header></app-header>
  </header>
<ng-container>


  <main class="container-fluid py-3 main-content">
    <router-outlet></router-outlet>
  </main>


</ng-container>
  <!--  por aca iria el layer del reproductor-->

  <footer>
  <app-mini-player></app-mini-player>
  <app-footer></app-footer>
  </footer>

  <!-- Modales -->
  <app-auth-modal *ngIf="modalType === ModalType.Auth"></app-auth-modal>
  <app-change-password *ngIf="modalType === ModalType.ChangePassword"></app-change-password>
  <app-notification-modal *ngIf="modalType === ModalType.Notification"></app-notification-modal>
</div>
