<!-- app.component.html -->
<div class="container-fluid p-0 app-container">
  <app-header></app-header>

  <main class="container-fluid py-3 main-content">
    <router-outlet></router-outlet>
  </main>


  <!--  por aca iria el layer del reproductor-->
  <app-mini-player></app-mini-player>

  <app-footer></app-footer>

  <!-- Modales -->
  <app-auth-modal *ngIf="modalType === ModalType.Auth"></app-auth-modal>
  <app-change-password *ngIf="modalType === ModalType.ChangePassword"></app-change-password>
</div>
