<!-- términos-donacion.component.html -->
<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-container">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Términos y Condiciones</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <div class="terms-content">


        <h6>1. Aceptación de los Términos</h6>
        <p>
          Al registrarse en SOUNDTRIBE, usted acepta estos Términos y Condiciones, y se compromete a respetar las normas y políticas establecidas en esta plataforma.
        </p>

        <h6>2. Uso de la Plataforma</h6>
        <p>
          SOUNDTRIBE es una comunidad para compartir y apoyar proyectos musicales. Usted se compromete a utilizar la plataforma de manera respetuosa, sin publicar contenido ofensivo, ilegal o que infrinja derechos de terceros.
        </p>

        <h6>3. Protección de Datos Personales</h6>
        <p>
          Usted tiene el derecho de decidir y autorizar, de forma libre, previa, expresa e informada, la recolección, uso y tratamiento de sus datos personales para los fines de la plataforma.
          Los datos personales que usted proporcione serán utilizados para ofrecer y mejorar el servicio, incluyendo análisis estadísticos anónimos sobre la actividad en SOUNDTRIBE.
          <br><br>
          No obstante, la información que usted publique en la plataforma podrá ser utilizada para fines estadísticos y analíticos de la misma plataforma, y no podrá ser deshabilitada individualmente.<br>
          Si usted desea eliminar por completo sus datos personales y su contenido, deberá proceder a eliminar su cuenta, momento en el cual se borrará toda la información vinculada a usted.<br>
          Revisar punto 4.
        </p>

        <h6>4. Eliminación de Cuenta y Datos</h6>
        <p>
          En caso de que usted decida eliminar su cuenta, SOUNDTRIBE procederá a borrar toda la información personal y el contenido que haya subido a la plataforma, incluyendo su usuario, notificaciones, votos, likes/dislikes y cualquier otro dato asociado. Esta acción es irreversible y se realiza para proteger su privacidad.<br>
          Existirán ciertas excepciones donde no se borrarán datos estadísticos donde su usuario eliminado no influirá ya que son datos contables y no datos personales de usted. Algunos de estos ejemplos son:
        </p>
        <ul>
          <li>Las donaciones que ha hecho se podrán usar como estadística pero no figurará su nombre ni ninguno de sus datos ya borrados.</li>
          <li>Las escuchas contabilizadas a una canción no serán eliminadas.</li>
          <li>Entre otros ejemplos similares en los cuales son datos contables y no sensibles de usted y su persona.</li>
        </ul>
        <p>
          En caso de que desee eliminar estos datos por cualquier razón, le solicitamos que se comunique al correo que encontrará al final de los términos y condiciones. La solicitud será evaluada y se tomará una decisión en función del caso particular.
        </p>


        <h6>5. Responsabilidades del Usuario</h6>
        <p>
          Usted es responsable por la información que proporciona y por el uso que hace de la plataforma. SOUNDTRIBE no se responsabiliza por el contenido generado por los usuarios.
        </p>

        <h6>6. Modificaciones de los Términos</h6>
        <p>
          Puede que hagamos cambios a estos términos en cualquier momento. No es muy común, pero para evitar sorpresas, te aconsejamos echarles un ojo de vez en cuando.<br>
          SOUNDTRIBE hará todo lo posible por informarle de los cambios relevantes mediante los medios disponibles, incluyendo notificaciones en la plataforma o comunicaciones a través de nuestras redes sociales.
        </p>

        <h6>7. Normas de Buena Conducta y Buenos Modales</h6>
        <p>
          En SOUNDTRIBE promovemos un espacio de respeto, inclusión y convivencia armoniosa. Nuestra comunidad está abierta a todos los usuarios, sin importar sus diferencias y particularidades. Por eso, no se tolerarán actos de <strong>bullying</strong>, <strong>troleos</strong> ni ningún tipo de comportamiento que busque molestar, ofender o discriminar a otros usuarios o a cualquier persona ajena a la comunidad de SOUNDTRIBE.<br><br>
          Las notificaciones, nombres de usuario o cualquier contenido que incluya palabras ofensivas, discriminatorias o que promuevan el odio podrán ser eliminados <strong>sin previo aviso</strong> por el equipo de moderación.<br><br>
          Si estos actos se repitieran de forma reiterada, el equipo de moderación podrá optar por <strong>eliminar la cuenta del usuario infractor</strong>. Lamentamos tener que recurrir a estas medidas, pero es lo que consideramos necesario para proteger a nuestra imagen, comunidad y sus valores.<br><br>
          Todos los tipos de contenidos son bienvenidos en SOUNDTRIBE, siempre y cuando se compartan <strong>desde el respeto</strong> y la buena intención, manteniendo el espíritu inclusivo y amigable que nos caracteriza.<br><br>
          SOUNDTRIBE pretende ser una comunidad <strong>amistosa</strong>, donde todas las personas se sientan bienvenidas, seguras y valoradas. Burlarse de las personas o molestarlas no forma parte de nuestra identidad ni de nuestra forma de ser como comunidad.
        </p>

        <h6>8. Propiedad Intelectual</h6>
        <p>
          SOUNDTRIBE es un proyecto desarrollado por <strong>garbi.dev</strong>. El código fuente del software se encuentra liberado bajo la licencia <strong>MIT</strong>, lo cual permite su uso, modificación y distribución con fines personales o comerciales, siempre que se mantenga el aviso de copyright y la licencia correspondiente.
          <br><br>
          Sin embargo, el diseño visual, las imágenes, el nombre SOUNDTRIBE y otros contenidos gráficos y de marca utilizados en esta plataforma están protegidos por la
          <a href="https://www.ign.gob.ar/descargas/biblioteca/ley11723.pdf" target="_blank" rel="noopener noreferrer">
            ley 11.723
          </a> de Propiedad Intelectual de la República Argentina, y no podrán ser reutilizados sin autorización expresa.
        </p>


        <h6>9. Contacto</h6>
        <p>
          Para consultas sobre estos términos o para ejercer sus derechos sobre sus datos personales, puede contactarnos a través del correo:
        </p>

        <!--  ACA IRIA EL BOTON O LO QUE FUERE-->
        <button type="button" class="btn btn-outline-secondary" (click)="copyEmail()">
          Copiar correo de contacto
        </button>

        <span *ngIf="copied" style="color: green; margin-left: 10px;">
          ¡Correo copiado al portapapeles!
        </span>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="closeModal()">Aceptar</button>
    </div>
  </div>
</div>
